/*
  styles.css
  Stylesheet for the Kitty Carson website
*/

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* removes scrollbars */
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Assets/idk.png');
    background-repeat: repeat;
    background-size: 130px;

}




.donate-button {
    font-family: 'Pixellari', monospace;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #773c8f;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

@font-face {
    font-family: 'Pixellari';
    src: url('Assets/Pixellari.ttf') format('truetype');
}

#donate-button {
    font-family: 'Pixellari', sans-serif;
}

.donate-button:hover {
    filter: brightness(0.5);
}

.feed-page {
    margin: 0;
    padding: 0;
    background-image: url('Assets/idk.png');
    background-repeat: repeat;
    background-size: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Pixellari', monospace;
}

.lean-container {
    display: flex;
    gap: 40px;
    padding: 40px;
    border-radius: 20px;
}

.lean-item {
    text-align: center;
}

.lean-img {
    width: 150px;
    height: auto;
    display: block;
    margin-bottom: 50px;
}

.donate-button {
    font-family: 'Pixellari', monospace;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #773c8f;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease;
    border: none;
    cursor: pointer;
}

.donate-button:hover {
    filter: brightness(0.5);
}

.logo-link {
    display: block;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.feed-logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    image-rendering: pixelated;
}




